*{
    text-decoration: none;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-image: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    cursor: pointer;
    padding-left: 20px ;
}

header,
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: small;

}

.nav-list li {
     margin-right: 50px;
     cursor: pointer;
}

.nav-icons{
    padding: 20px;
    
}

.search{
    padding: 15px;
    cursor: pointer;
}
.profile{
    padding: 15px;
    cursor: pointer;
}

.cart{
    padding: 15px;
    cursor: pointer;
}

.main-text{
    font-size: 40px;
    display: flex;
    padding-top: 70px;
    gap: 20px;
    margin-left: -50px;
}
.dots{
    margin-left: -10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin-left: 80px;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: space-between;
  }
  
  .main-1 {
    width: 50%; 
  }
  
  .dots-text-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main-pic {
    width: 50%; 
  }